Modulo 6/UserManagement_Demo/Softtek.Academy2018.Demo.Console/Connected Services/ProjectManagementService_Ref/ProjectManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateProjectRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TechnologyStack" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateProjectRequest" nillable="true" type="tns:CreateProjectRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="CreateProjectResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateProjectResponse" nillable="true" type="tns:CreateProjectResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="GetAllProjectsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllProjectsRequest" nillable="true" type="tns:GetAllProjectsRequest" />
  <xs:complexType name="GetAllProjectsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProjectList" nillable="true" type="tns:ArrayOfProjectDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllProjectsResponse" nillable="true" type="tns:GetAllProjectsResponse" />
  <xs:complexType name="ArrayOfProjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectDTO" nillable="true" type="tns:ProjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectDTO" nillable="true" type="tns:ArrayOfProjectDTO" />
  <xs:complexType name="ProjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechnologyStack" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectDTO" nillable="true" type="tns:ProjectDTO" />
</xs:schema>