Modulo 6/UserManagement_Demo/Softtek.Academy2018.Demo.Console/Connected Services/UserManagementService_Ref/UserManagementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4001/UserManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" minOccurs="0" name="request" nillable="true" type="q1:CreateUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" minOccurs="0" name="CreateUserResult" nillable="true" type="q2:CreateUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" minOccurs="0" name="request" nillable="true" type="q3:GetUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" minOccurs="0" name="GetUserResult" nillable="true" type="q4:GetUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" minOccurs="0" name="request" nillable="true" type="q5:DeleteUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" minOccurs="0" name="DeleteUserResult" nillable="true" type="q6:DeleteUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" minOccurs="0" name="request" nillable="true" type="q7:UpdateUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Softtek.Academy2018.Demo.WCF.Messages" minOccurs="0" name="UpdateUserResult" nillable="true" type="q8:UpdateUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>